* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #641933;
  width: 100%;
  height: 100%; }

a {
  text-decoration: none; }

@font-face {
  font-family: "seasons";
  src: url("../assets/fonts/Seasons.ttf"); }

@font-face {
  font-family: "seasonscursiva";
  src: url("../assets/fonts/seasonscursiva.otf"); }

@font-face {
  font-family: "trebuc";
  src: url("../assets/fonts/trebuc.ttf"); }

header {
  background-color: #232020;
  width: 100%;
  height: 8.125rem; }
  header .logoOsadia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: none;
    width: 100%;
    height: 75%; }

main .portada {
  color: white;
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr); }
  main .portada h1 {
    font-family: "seasonscursiva";
    font-weight: 500;
    font-size: 3.125rem;
    grid-column: 4/6;
    grid-row: 4/4;
    justify-self: center;
    align-self: flex-start;
    order: 4; }
  main .portada h2 {
    font-family: "seasons";
    font-weight: 900;
    font-size: 3.4375rem;
    grid-column: 5/6;
    grid-row: 4/5;
    justify-self: center;
    align-self: flex-end;
    padding: 2.1875rem 0rem 0rem 0rem;
    order: 3; }
  main .portada h3 {
    font-family: "seasonscursiva";
    font-weight: 500;
    font-size: 2.5rem;
    grid-column: 5/7;
    grid-row: 5/5;
    justify-self: center;
    align-self: flex-start;
    order: 2; }
  main .portada img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  main .portada .imgPortada {
    align-items: center;
    grid-column: 1/7;
    grid-row: 1/8;
    order: 1; }

main .sectionQuienesSomos {
  color: white;
  display: grid;
  width: 100%;
  height: 300vh;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(11, 1fr); }
  main .sectionQuienesSomos img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  main .sectionQuienesSomos h1 {
    text-align: center;
    font-weight: 1600;
    font-size: 1.875rem;
    font-family: "seasons";
    font-style: italic;
    align-self: flex-end;
    justify-self: center;
    grid-column: 1/3;
    grid-row: 1/2;
    order: 4; }
  main .sectionQuienesSomos .sectionQuienesSomosp {
    text-align: center;
    font-size: 1.25rem;
    font-family: "trebuc";
    grid-column: 1/3;
    grid-row: 3/5;
    order: 5;
    align-self: center;
    padding: 0px 2.5rem 0rem 2.5rem; }
  main .sectionQuienesSomos span {
    font-size: 1.375rem;
    font-weight: 600;
    text-align: center; }
  main .sectionQuienesSomos .rectanguloquienessomos {
    background-color: #232020bf;
    grid-column: 1/3;
    grid-row: 1/6;
    box-shadow: .3125rem .0625rem .625rem black;
    order: 2; }
  main .sectionQuienesSomos .sectionQuienesSomosImg {
    grid-column: 1/6;
    grid-row: 1/6;
    order: 1; }
  main .sectionQuienesSomos .sectionQuienesSomosp1 {
    text-align: center;
    font-style: italic;
    font-family: "trebuc";
    align-self: center;
    font-size: 1.375rem;
    padding: 0rem 0rem 1.625rem 0rem;
    grid-column: 2/5;
    grid-row: 6/7;
    order: 9; }
  main .sectionQuienesSomos .sectionQuienesSomosImg1 {
    padding: 0rem 29.375rem 0rem 3.75rem;
    opacity: 65%;
    grid-column: 1/5;
    grid-row: 7/11;
    order: 6; }
  main .sectionQuienesSomos .sectionQuienesSomosImg2 {
    opacity: 65%;
    padding: 0rem 3.125rem 0rem 12.5rem;
    grid-column: 3/7;
    grid-row: 7/11;
    order: 7; }
  main .sectionQuienesSomos .sectionQuienesSomosp2 {
    text-align: center;
    font-style: italic;
    font-family: "trebuc";
    align-self: center;
    padding: 3.125rem 0rem 0rem 0rem;
    font-size: 1.375rem;
    grid-column: 2/5;
    grid-row: 11/12;
    order: 8; }

main .sectionTituloDegu {
  color: white;
  font-family: "seasons";
  text-align: center;
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr); }
  main .sectionTituloDegu img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  main .sectionTituloDegu h1 {
    font-size: 2rem;
    width: 60%;
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
    order: 6; }
  main .sectionTituloDegu p {
    font-size: 1.25rem;
    width: 60%;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    align-self: end;
    order: 5; }
  main .sectionTituloDegu .sectionimgdegu-1-salon {
    grid-column: 4/5;
    grid-row: 1/5;
    margin: .625rem;
    order: 4; }
  main .sectionTituloDegu .sectionimgdegu-2-mesa {
    grid-column: 2/4;
    grid-row: 3/5;
    margin: .625rem;
    order: 3; }
  main .sectionTituloDegu .sectionimgdegu-3-gente {
    grid-column: 2/4;
    grid-row: 1/3;
    margin: .625rem;
    order: 2; }
  main .sectionTituloDegu .sectionimgdegu-4 {
    background-color: #232020bf;
    grid-column: 1/2;
    grid-row: 1/5;
    box-shadow: .3125rem .0625rem .625rem black;
    order: 1; }

main .proximosEventos {
  color: white;
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  font-size: 0rem; }
  main .proximosEventos img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  main .proximosEventos .proximosEventosImg {
    grid-column: 3/7;
    grid-row: 1/6;
    justify-content: left;
    order: 1; }
  main .proximosEventos h1 {
    grid-column: 1/3;
    grid-row: 2/3;
    font-size: 2rem;
    font-family: "seasons";
    text-align: center;
    text-align: center;
    align-self: end;
    order: 3; }
  main .proximosEventos span {
    font-size: 1.125rem; }
  main .proximosEventos h2 {
    grid-column: 1/3;
    grid-row: 3/4;
    font-size: 1.25rem;
    font-family: "trebuc";
    font-weight: bold;
    color: #D6B970;
    text-align: center;
    align-self: center;
    justify-self: center;
    order: 4; }
  main .proximosEventos p {
    grid-column: 1/3;
    grid-row: 3/6;
    width: 60%;
    font-size: 1.25rem;
    font-family: "trebuc";
    text-align: center;
    align-self: center;
    justify-self: center;
    order: 5; }
  main .proximosEventos .proximosEventosRectangulo {
    background-color: #232020bf;
    grid-column: 1/3;
    grid-row: 1/7;
    box-shadow: .3125rem .0625rem .625rem black;
    order: 2; }

main .contactanosencuesta div {
  color: white;
  font-size: 1.25rem;
  font-family: "trebuc";
  gap: .625rem;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none; }
  main .contactanosencuesta div input {
    color: white;
    font-family: "trebuc";
    padding: 1.25rem 15.625rem;
    border: 0;
    background-color: #232020bf;
    box-shadow: .3125rem .0625rem .625rem black; }
  main .contactanosencuesta div .mensaje textarea {
    padding: .25rem 12.5rem;
    font-family: "trebuc";
    border: 0;
    background-color: #232020bf;
    box-shadow: .3125rem .0625rem .625rem black;
    color: white; }

main .contactanos {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr); }
  main .contactanos .contactanosencuesta {
    grid-column: 2/4;
    grid-row: 1/5;
    align-self: center;
    justify-self: center;
    order: 2; }
  main .contactanos img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  main .contactanos .contactanosimg {
    grid-column: 1/5;
    grid-row: 1/5;
    order: 1; }

footer {
  background-color: #232020;
  width: 100%;
  height: 100%; }
  footer .direcciones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 3.125rem;
    font-size: 1.25rem;
    font-family: "trebuc";
    text-align: center;
    list-style-type: none;
    box-shadow: .3125rem .9375rem 3.125rem; }
  footer a {
    color: white; }
  footer img {
    width: 100%;
    height: 100%; }
  footer .direcciones img {
    width: 1.25rem;
    height: 1.25rem; }

nav .barraDeTarea {
  background-color: #232020b5;
  box-shadow: .3125rem .9375rem 3.125rem black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: none;
  font-size: 1.25rem;
  font-family: "seasons";
  list-style: none; }

nav a {
  color: #D6B970; }
  nav a:hover {
    color: white; }

@media (max-width: 1350px) {
  main .sectionQuienesSomos h1 {
    font-size: 1.75rem;
    align-self: self-end;
    justify-self: center; }
  main .sectionQuienesSomos .sectionQuienesSomosp {
    font-size: 1.125rem;
    padding: .625rem;
    align-self: center; } }

@media (max-width: 1290px) {
  main .sectionQuienesSomos {
    background-image: url(../assets/quienes-somos2.png);
    background-size: contain;
    background-position: initial;
    background-repeat: no-repeat;
    display: grid;
    width: 100%;
    height: 330vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(11, 1fr); }
    main .sectionQuienesSomos .sectionQuienesSomosImg {
      display: none; }
    main .sectionQuienesSomos .sectionQuienesSomos img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    main .sectionQuienesSomos h1 {
      grid-column: 2/5;
      grid-row: 1/2;
      align-self: center;
      justify-self: center;
      order: 7; }
    main .sectionQuienesSomos .sectionQuienesSomosp {
      grid-column: 1/6;
      grid-row: 7/8;
      order: 6;
      padding: 1.25rem 4.375rem .625rem 4.375rem;
      margin: .625rem; }
    main .sectionQuienesSomos .rectanguloquienessomos {
      background-color: #232020f1;
      grid-column: 1/6;
      grid-row: 7/8;
      order: 5; }
    main .sectionQuienesSomos .Img {
      grid-column: 1/6;
      grid-row: 1/5;
      order: 1; }
    main .sectionQuienesSomos .sectionQuienesSomosImg1 {
      padding: .625rem 29.375rem 0rem 3.75rem;
      opacity: 65%;
      grid-column: 1/5;
      grid-row: 8/11;
      order: 3; }
    main .sectionQuienesSomos .sectionQuienesSomosImg2 {
      opacity: 65%;
      padding: .625rem 3.125rem 0rem 12.5rem;
      grid-column: 3/7;
      grid-row: 8/11;
      order: 4; }
    main .sectionQuienesSomos .sectionQuienesSomosp1 {
      font-size: 1.25rem;
      align-self: self-start;
      padding: 3.75rem 4.375rem 0rem 4.375rem;
      grid-column: 1/6;
      grid-row: 11/12;
      order: 9; }
    main .sectionQuienesSomos .sectionQuienesSomosp2 {
      font-size: 1.25rem;
      align-self: self-end;
      padding: 1.875rem 4.375rem 3.125rem 4.375rem;
      grid-column: 1/6;
      grid-row: 11/12;
      order: 8; } }

@media (max-width: 1180px) {
  main .sectionQuienesSomos {
    width: 100%;
    height: 320vh; }
    main .sectionQuienesSomos .sectionQuienesSomosp1 {
      padding: 1.875rem 4.375rem 0rem 4.375rem; }
    main .sectionQuienesSomos .sectionQuienesSomosp2 {
      padding: 1.875rem 4.375rem 30px 4.375rem; }
    main .sectionQuienesSomos .sectionQuienesSomosImg1 {
      padding: .625rem 21.875rem 0rem 2.5rem; }
    main .sectionQuienesSomos .sectionQuienesSomosImg2 {
      padding: .625rem 1.875rem 0rem 9.875rem; } }

@media (max-width: 1050px) {
  main .sectionQuienesSomos {
    width: 100%;
    height: 320vh; }
    main .sectionQuienesSomos h1 {
      font-size: 1.375rem; }
    main .sectionQuienesSomos .sectionQuienesSomosp {
      font-size: 1rem; }
    main .sectionQuienesSomos .sectionQuienesSomosImg1 {
      padding: .625rem 20rem 0rem 1.875rem; }
    main .sectionQuienesSomos .sectionQuienesSomosImg2 {
      opacity: 65%;
      padding: .625rem 1.875rem 0rem 8.75rem; }
    main .sectionQuienesSomos .sectionQuienesSomosp1 {
      font-size: 1rem;
      padding: 30px 4.375rem 0rem 4.375rem; }
    main .sectionQuienesSomos .sectionQuienesSomosp2 {
      font-size: 1rem;
      padding: 3.75rem 4.375rem 1.375rem 4.375rem; }
  main .sectionTituloDegu p {
    font-size: 1rem; }
  main .sectionTituloDegu h1 {
    margin: .0625rem 1.875rem .0625rem .0625rem; } }

@media (max-width: 950px) {
  main .sectionQuienesSomos {
    width: 100%;
    height: 280vh; }
    main .sectionQuienesSomos .sectionQuienesSomosp1 {
      padding: 1.875rem 4.375rem 0rem 4.375rem; }
    main .sectionQuienesSomos .sectionQuienesSomosp2 {
      padding: 3.75rem 4.375rem .9375rem 4.375rem; }
    main .sectionQuienesSomos .sectionQuienesSomosImg1 {
      padding: .625rem 18.75rem 0rem 1.875rem; }
    main .sectionQuienesSomos .sectionQuienesSomosImg2 {
      padding: .625rem 1.875rem 0rem 7.5rem; } }

@media (max-width: 860px) {
  main .sectionQuienesSomos {
    width: 100%;
    height: 320vh; }
    main .sectionQuienesSomos .sectionQuienesSomosp1 {
      padding: 1.75rem 2.5rem 0rem 2.5rem; }
    main .sectionQuienesSomos .sectionQuienesSomosp2 {
      padding: .875rem 2.5rem .625rem 2.5rem; } }

@media (max-width: 750px) {
  header {
    width: 100%;
    height: 14.375rem; }
    header .logoOsadia {
      height: 40%; }
  nav .barraDeTarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
    gap: .125rem; }
  main .sectionTituloDegu h1 {
    width: 80%; }
  main .sectionTituloDegu p {
    width: 80%; }
  main .proximosEventos h1 {
    font-size: 1.75rem; }
  main .contactanos .nombre input {
    padding: 1.25rem 4.375rem; }
  main .contactanos .apellido input {
    padding: 1.25rem 4.375rem; }
  main .contactanos .email input {
    padding: 1.25rem 4.375rem; }
  main .contactanos .mensaje textarea {
    padding: .25rem 5.625rem; }
  main .sectionQuienesSomos {
    width: 100%;
    height: 276vh; }
    main .sectionQuienesSomos h1 {
      font-size: 1.25rem; }
    main .sectionQuienesSomos .sectionQuienesSomosp {
      font-size: .875rem;
      padding: 1.25rem 2.5rem .625rem 2.5rem;
      margin: .625rem; }
    main .sectionQuienesSomos .sectionQuienesSomosp1 {
      font-size: .875rem;
      padding: 1.625rem 1.875rem 0rem 1.875rem; }
    main .sectionQuienesSomos .sectionQuienesSomosp2 {
      font-size: .875rem;
      padding: .75rem 1.875rem .5rem 1.875rem; }
    main .sectionQuienesSomos span {
      font-size: 1.25rem; }
    main .sectionQuienesSomos .sectionQuienesSomosImg1 {
      padding: .625rem 15.625rem 0rem 1.875rem; }
    main .sectionQuienesSomos .sectionQuienesSomosImg2 {
      padding: .625rem 1.875rem 0rem 7.5rem; }
  footer .direcciones {
    width: 100%;
    height: 4.6875rem;
    align-self: center;
    font-size: 1.125rem; }
  footer .direcciones img {
    width: 1.125rem;
    height: 1.125rem;
    text-align: center; } }

@media (max-width: 700px) {
  main .sectionTituloDegu {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 1fr); }
    main .sectionTituloDegu img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    main .sectionTituloDegu h1 {
      font-size: 1.5rem;
      grid-column: 1/3;
      grid-row: 1/2;
      align-self: flex-end;
      padding: .625rem;
      width: 100%;
      order: 6; }
    main .sectionTituloDegu p {
      font-size: .875rem;
      grid-column: 1/3;
      grid-row: 2/2;
      align-self: center;
      padding: .875rem;
      width: 96%;
      order: 5; }
    main .sectionTituloDegu .sectionimgdegu-1-salon {
      grid-column: 3/5;
      grid-row: 1/13;
      margin: .25rem;
      order: 4; }
    main .sectionTituloDegu .sectionimgdegu-2-mesa {
      grid-column: 1/3;
      grid-row: 3/8;
      margin: .25rem;
      order: 3; }
    main .sectionTituloDegu .sectionimgdegu-3-gente {
      grid-column: 1/3;
      grid-row: 8/13;
      margin: .25rem;
      order: 2; }
    main .sectionTituloDegu .sectionimgdegu-4 {
      margin: .25rem;
      background-color: #232020d4;
      grid-column: 1/3;
      grid-row: 1/3;
      box-shadow: .3125rem .0625rem 5px black;
      order: 1; }
  main .proximosEventos {
    width: 100%;
    height: 150vh;
    background-image: url("../../assets/copa de vino blanco2.png");
    background-size: cover;
    background-position: center; }
    main .proximosEventos .proximosEventosImg {
      display: none; } }

@media (max-width: 645px) {
  main .sectionQuienesSomos {
    width: 100%;
    height: 250vh; }
    main .sectionQuienesSomos .sectionQuienesSomosp {
      padding: .625rem 1.375rem .625rem 1.375rem; }
    main .sectionQuienesSomos .rectanguloquienessomos {
      margin: 0rem 0rem .625rem 0rem;
      padding: 20px 0rem 1.875rem .625rem; }
    main .sectionQuienesSomos span {
      font-size: .875rem; }
    main .sectionQuienesSomos .sectionQuienesSomosImg1 {
      padding: 0rem 12.5rem 0rem 1.25rem; }
    main .sectionQuienesSomos .sectionQuienesSomosImg2 {
      padding: 0rem 1.875rem 0rem 5rem; }
    main .sectionQuienesSomos .sectionQuienesSomosp1 {
      padding: 1.25rem .625rem 0rem .625rem; }
    main .sectionQuienesSomos .sectionQuienesSomosp2 {
      padding: 0rem .625rem .625rem .625rem; }
  footer .direcciones {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
    width: 100%;
    height: 4.6875rem;
    padding: .3125rem; } }

@media (max-width: 550px) {
  main .proximosEventos p {
    font-size: 1rem; }
  main .sectionQuienesSomos {
    display: grid;
    width: 100%;
    height: 260vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr); }
    main .sectionQuienesSomos .sectionQuienesSomos img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    main .sectionQuienesSomos h1 {
      grid-column: 1/4;
      grid-row: 1/2;
      font-size: 1.125rem;
      align-self: center;
      justify-self: center;
      order: 7; }
    main .sectionQuienesSomos .sectionQuienesSomosp {
      grid-column: 1/4;
      grid-row: 4/6;
      order: 6; }
    main .sectionQuienesSomos .rectanguloquienessomos {
      padding: 1.875rem 0rem 440px 0rem;
      margin: 0rem 0rem 1.25rem 0rem;
      grid-column: 1/4;
      grid-row: 4/6;
      order: 5; }
    main .sectionQuienesSomos .sectionQuienesSomosImg {
      grid-column: 1/4;
      grid-row: 1/4;
      order: 1; }
    main .sectionQuienesSomos .sectionQuienesSomosImg1 {
      grid-column: 1/3;
      grid-row: 6/8;
      padding: 0rem 6.875rem 0rem 1.25rem;
      order: 3; }
    main .sectionQuienesSomos .sectionQuienesSomosImg2 {
      grid-column: 2/4;
      grid-row: 6/8;
      padding: 0rem 1.25rem 0rem 5.625rem;
      order: 4; }
    main .sectionQuienesSomos .sectionQuienesSomosp1 {
      padding: 1.25rem .625rem 0rem .625rem;
      align-self: self-start;
      grid-column: 1/4;
      grid-row: 8/9;
      order: 9; }
    main .sectionQuienesSomos .sectionQuienesSomosp2 {
      align-self: self-end;
      padding: 0rem .625rem .9375rem .625rem;
      grid-column: 1/4;
      grid-row: 8/9;
      order: 8; } }

@media (max-width: 500px) {
  main .proximosEventos p {
    font-size: .875rem; }
  main .contactanos .contactanosencuesta div {
    font-size: 1.125rem; }
    main .contactanos .contactanosencuesta div .nombre input {
      padding: 1.25rem 3.125rem; }
    main .contactanos .contactanosencuesta div .apellido input {
      padding: 1.25rem 3.125rem; }
    main .contactanos .contactanosencuesta div .email input {
      padding: 1.25rem 3.125rem; }
    main .contactanos .contactanosencuesta div .mensaje textarea {
      padding: .25rem 3.125rem; } }

@media (max-width: 430px) {
  main .sectionQuienesSomos {
    width: 100%;
    height: 250vh; }
    main .sectionQuienesSomos .sectionQuienesSomosp1 {
      padding: .625rem .625rem 0rem .625rem; }
    main .sectionQuienesSomos .sectionQuienesSomosp2 {
      padding: 0rem .625rem .625rem .625rem; } }

@media (max-width: 400px) {
  main .portada h1 {
    font-size: 2.5rem; }
  main .portada h2 {
    font-size: 2.8125rem; }
  main .portada h3 {
    font-size: 1.875rem; }
  main .proximosEventos h1 {
    font-size: 1.25rem; }
  main .proximosEventos h2 {
    font-size: 1.125rem; }
  main .proximosEventos span {
    font-size: .875rem; }
  main .proximosEventos p {
    font-size: .875rem; } }

@media (max-width: 375px) {
  main .contactanos .contactanosencuesta div .nombre input {
    padding: 1rem 1rem; }
  main .contactanos .contactanosencuesta div .apellido input {
    padding: 1rem 1rem; }
  main .contactanos .contactanosencuesta div .email input {
    padding: 1rem 1rem; }
  main .contactanos .contactanosencuesta div .mensaje textarea {
    padding: .25rem 1rem; }
  main .sectionQuienesSomos {
    width: 100%;
    height: 200vh; }
    main .sectionQuienesSomos .sectionQuienesSomosp1 {
      padding: .75rem .625rem 0rem .625rem; }
    main .sectionQuienesSomos .sectionQuienesSomosp2 {
      padding: 0rem .625rem .125rem .625rem; } }

@media (max-width: 330px) {
  main .sectionQuienesSomos {
    width: 100%;
    height: 232vh; }
    main .sectionQuienesSomos .rectanguloquienessomos {
      padding: 1.875rem 0rem 32.5rem 0rem;
      margin: 0rem 0rem 1.25rem 0rem; }
    main .sectionQuienesSomos .sectionQuienesSomosp1 {
      padding: .75rem .3125rem 0rem .3125rem; }
    main .sectionQuienesSomos .sectionQuienesSomosp2 {
      padding: 0rem .3125rem .125rem .3125rem; }
    main .sectionQuienesSomos .sectionQuienesSomosImg1 {
      padding: 0rem 3.75rem 0rem .625rem; }
    main .sectionQuienesSomos .sectionQuienesSomosImg2 {
      padding: 0rem .625rem 0rem 60px; } }
