@use 'sass:map';
@use '../utilities/mixins' as mixins;
@use '../utilities/maps' as maps;

footer {
    background-color: map.get(maps.$colores, 'color4');
    width: 100%;
    margin: 0;
    padding: 1rem 0;  
    
    .direcciones {
        @include mixins.flex(row,space-around,center);      
        width: 100%;
        font-size: 1.25rem;
        font-family: "trebuc";
        align-items: center;  
        list-style-type: none;
        box-shadow: .3125rem .9375rem 3.125rem;
        padding: 0rem 0;  
        }
}
        a {
            color: map.get(maps.$colores, 'color2');   
        }
    .logos{
        @include mixins.flex(row,space-around,center);
        gap:20px;
    }
    .logos {
        transition: transform 0.3s ease-in-out;    
            
        &:hover{
            transform: scale(1.2);
        }
    }
    .celular{
        transition: transform 0.3s ease-in-out;    
                    
        &:hover{
            transform: scale(1.2);
        }
}