footer {
    background-color:map-get($colores, color4);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
    .direcciones {
        @include flex(row,space-around,center);      
        width: 100%;
        height: 3.125rem;
        font-size: 1.25rem;
        font-family: "trebuc";
        text-align: center;
        justify-self: center;
        list-style-type: none;
        box-shadow: .3125rem .9375rem 3.125rem;
}
        a {
            color: map-get($colores, color2);   
        }
    .logos{
        @include flex(row,space-around,center);
        gap:20px; 
        
        
    }

    }