header {
    .logoOsadia{
        max-width: 12.5rem;
    }
    @include flex(row,space-between,center);
    background-color: map-get($colores, color4); 
    padding: 2rem;
    text-align: center;
    .abrir-menu{
        display: none;
    }
}