nav{
    
.barraDeTarea{
    @include flex(row,space-around,none);
    font-size: 1.375rem;
    font-family: "seasons";
    list-style: none;
    gap: 1.75rem;
}
        a{
        color: map-get($colores, color3);  
        &:hover{
        color: map-get($colores, color2);;
        }
    }   
    .cerrar-menu{
        display: none;
    }
}