@font-face {
    font-family:"seasons" ;
    src: url("../assets/fonts/Seasons.ttf");
}

@font-face {
    font-family:"seasonscursiva" ;
    src: url("../assets/fonts/seasonscursiva.otf");
}

@font-face {
    font-family:"trebuc" ;
    src: url("../assets/fonts/trebuc.ttf");
}