@media (max-width:645px){
    main{
        .sectionQuienesSomos {
            width: 100%;
            height: 260vh;
            .sectionQuienesSomosp{                
                padding: .625rem 1.375rem .625rem 1.375rem;                              
            }
            .rectanguloquienessomos{
                margin: 0rem 0rem 1.625rem 0rem;        
            }
            span{   
                font-size: .875rem;       
            }
            .sectionQuienesSomosImg1{
                padding: 0rem 12.5rem 0rem 1.25rem;    
            }
            .sectionQuienesSomosImg2{
                padding: 0rem 1.875rem 0rem 5rem;
            }
            .rectanguloquienessomos1{
                margin: 12.5rem 0rem 6.875rem 0rem;        
            }
            .sectionQuienesSomosp1{
                padding: 1.5rem .625rem 0rem .625rem;
            }  
            .sectionQuienesSomosp2{
                padding: 0rem .625rem .625rem .625rem;
            }             
        }
    }    
    footer{
        .direcciones{ 
            @include flex(column,none,none);
            width: 100%;
            height: 4.6875rem; 
            padding: .3125rem;     
        }
    }
}