@media (max-width:1290px){
    main{
        .sectionTituloDegu {
            width: 100%;
            height: 110vh;
        }
        .sectionQuienesSomos{
            .sectionQuienesSomosImg{
                display: none;       
            }
        background-image: url(../assets/quienes-somos2.png);
        background-size: contain;
        background-position:initial; 
        background-repeat: no-repeat;
        display: grid;
        width: 100%;
        height: 450vh;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(11,1fr);
    
            .sectionQuienesSomos img{
                width: 100%;
                height: 100%;    
                object-fit: cover;
            }

            h1{
                grid-column: 1/6;
                grid-row: 2/3;
                margin: .625rem;
                align-self:self-start;
                justify-self: center;
                order: 7;
            }

            .sectionQuienesSomosp{               
                grid-column: 1/6;
                grid-row: 9/10;
                order: 6; 
                padding: 1.25rem 4.375rem .625rem 4.375rem;                              
                margin: .625rem;
            }
            .rectanguloquienessomos{
                background-color:#232020f1;
                margin: 0px 0px 0px 0px;
                padding: 30px 0px 100px 10px;
                grid-column: 1/6;
                grid-row: 9/10;
                order: 5;
            }
            .sectionQuienesSomosp1{
                font-size: 1.25rem;
                align-self:self-start;
                padding: .625rem 4.375rem 0rem 4.375rem;
                grid-column: 1/6;
                grid-row: 10/11;
                order: 9; 
            }  
            .Img{
                grid-column: 1/6;
                grid-row: 1/5;
                order: 1; 
            }
        
            .sectionQuienesSomosImg1{
                padding: 0rem 1.875rem 0px 0rem;
                width: 45%;
                justify-self:right;
                grid-column: 1/6;
                grid-row: 11/12;
                order: 3; 
            }
            .sectionQuienesSomosImg2{
                opacity: 65%;
                width: 45%;
                justify-self: left;
                padding: 0rem 0px 0px 1.875rem;
                grid-column: 1/6;
                grid-row: 11/12;
                order: 4; 
            }               
        }
    
        .contactanos{
            width: 100%;
            height: 120vh;
            
            .contactanosencuesta div{
                .nombre input {
                    padding: .875rem 1.875rem;
                }
                .apellido input {
                    padding: .875rem 1.875rem;
                }
                .email input {
                    padding: .875rem 1.875rem;
                }
                .mensaje textarea {
                    padding: .125rem .875rem;
                } 
            }
        }
    }
}