@media (max-width:950px){
    main{
        .sectionQuienesSomos {
            width: 100%;
            height: 280vh;
            .sectionQuienesSomosp1{        
                padding: 1.875rem 4.375rem 0rem 4.375rem; 
            }
            .sectionQuienesSomosp2{
                padding: 3.75rem 4.375rem .9375rem 4.375rem; 
            }     
            .sectionQuienesSomosImg1{
                padding: .625rem 18.75rem 0rem 1.875rem;
            }
            .sectionQuienesSomosImg2{
                padding: .625rem 1.875rem 0rem 7.5rem;
            }
        }
    }
}