@media (max-width:330px){
main{
    .sectionQuienesSomos{
        .rectanguloquienessomos{
            width: 100%;
            height: 170vh;
            justify-self: center;
            }
        }
    }
}