@media (max-width:330px){
main{
    .sectionQuienesSomos{
        width: 100%;
        height: 232vh;
        .rectanguloquienessomos{
            padding: 1.875rem 0rem 32.5rem 0rem;
            margin: 0rem 0rem 1.25rem 0rem;  
        }
        .sectionQuienesSomosp1{
            padding: .75rem .3125rem 0rem .3125rem;
        }
        .sectionQuienesSomosp2{
            padding: 0rem .3125rem .125rem .3125rem; 
        }
        .sectionQuienesSomosImg1{
            padding: 0rem 3.75rem 0rem .625rem; 
        }
        .sectionQuienesSomosImg2{
            padding: 0rem .625rem 0rem 60px;
        }        
        } 
    }
}