@media (max-width:430px){
    main{
        .sectionQuienesSomos{
            width: 100%;
            height: 250vh;
            .sectionQuienesSomosp1{
                padding: .625rem .625rem 0rem .625rem;
            }
            .sectionQuienesSomosp2{
                padding: 0rem .625rem .625rem .625rem; 
            }
        }
    } 
}