@media (max-width:1290px){
    main{
        .sectionTituloDegu {
            width: 100%;
            height: 110vh;
        }

    
        .contactanos{
            width: 100%;
            height: 120vh;
            
            .contactanosencuesta div{
                .nombre input {
                    padding: .875rem 1.875rem;
                }
                .apellido input {
                    padding: .875rem 1.875rem;
                }
                .email input {
                    padding: .875rem 1.875rem;
                }
                .mensaje textarea {
                    padding: .125rem .875rem;
                } 
            }
        }
    }
}