@media (max-width:850px){
    main{
        .sectionQuienesSomos{
            h1{
                font-size:  1.25rem;
            }

            p{
                font-size:  .875rem;
                padding: .625rem;
                margin: .625rem;
            }

            .rectanguloquienessomos{
                background-color: #232020f1;
                margin:.625rem;
            }
        }
    } 
}