@media (max-width:400px){
    main{
        .portada {
            h1{
                font-size: 2.5rem;
            }        
            h2{
                font-size: 2.8125rem;
            }        
            h3{
                font-size: 1.875rem;
            }  
        }          
        .proximosEventos{
            h1{
                font-size: 1.25rem;
            }
            h2{
                font-size: 1.125rem;
            }
            span{
                font-size: .875rem; 
            }
            p{
                font-size: .875rem;
            }
        }     
    }
} 