@media (max-width:750px){
    main{
        .sectionQuienesSomos {
                width: 100%;
                height: 340vh;  
            
            h1{
                font-size: 1.625rem;
            }
            .sectionQuienesSomosp{               
                padding: 1.25rem 1.875rem .625rem 1.875rem;                              
                margin: .625rem; 
                font-size: 1.125rem; 
            }
            .sectionQuienesSomosp1{
                padding: .625rem 1.875rem 0rem 1.875rem;
                font-size: 1.125rem;
            }
    }

    .proximosEventos{
        width: 100%;
        height: 150vh;
        .proximosEventosImg{
            display: none;       
        }
            background-image: url("../../assets/copa\ de\ vino\ blanco2.png");
            background-size:cover;
            background-position: center;  
            p{
                font-size: 1rem;
            }
            h1{
                font-size: 1.75rem;
            } 
        }              
    } 
    footer{
        .direcciones{ 
            @include flex(column,none,none);
            width: 100%;
            height: 4.6875rem; 
            padding: .3125rem;     
        }
    }
}    