@media (max-width:430px){
main{
    .sectionQuienesSomos{
        width: 100%;
        height: 220vh;   
        .rectanguloquienessomos{
            width: 100%;
            height: 130vh;
            justify-self: center;
        }
        }
    }
}